@font-face {
  font-family: "IranYekan";
  src: url("../Font/Yekan.ttf") format("truetype");
}

@font-face {
  font-family: minecraft;
  font-style: normal;
  font-weight: 400;
  src: local("Minecraft"), url("../Font/MinecraftTen-VGORe.woff") format("woff");
}

@font-face {
  font-family: BungeeSpice;
  src: url("../Font/BungeeSpice-Regular.ttf");
}

@font-face {
  font-family: MedievalSharp;
  src: url("../Font/MedievalSharp-Regular.ttf");
}

@font-face {
  font-family: ElectroHarmonix;
  src: url("../Font/electroharmonix.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("../Font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../Font/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
