@mixin Center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin FormTitle($title) {
  &::before {
    position: absolute;
    content: $title;
    right: 5px;
    top: 5px;
    font-size: 12px;
  }
}
