// =============              =============
//              ==============
//                   Main
//              ==============
// =============              =============

$BackGround-Primery: #13151d;
$BackGround-Secondary: lighten($BackGround-Primery, 3%);

$Layout-Border: lighten($BackGround-Primery, 30%);

$Color: #fff;
$Color-Active: lighten($BackGround-Primery, 50%);

// =============              =============
//              ==============
//                   Main
//              ==============
// =============              =============
