@import "../../../../@Core/Styles/Variables.Style.scss";

.Sidebar-Overflow {
  position: fixed;
  inset: 0px;

  background: linear-gradient($BackGround-Secondary, transparent);
  opacity: 0.7;

  // border: 1px solid red;
}

.Sidebar-Box {
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  inset: 0;
  padding: 6px;
  padding-top: 20px;

  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;

  background: $BackGround-Secondary;
  box-shadow: 0px 2px 6px $Layout-Border;
  //   border: 1px solid red;
}

// ===============================================

Sidebar-Item {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 10px;
  //   border: 1px solid red;
}

Sidebar-Label {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 3px;
  // border: 1px solid red;
}

Sidebar-Menu {
  position: relative;
  width: 100%;
  margin: 10px;
}
