<div class="Sidebar-Box">

    <!-- <Sidebar-Label title="Title"/> -->
    <Sidebar-Label Title="Home" Icon="home" Color="lightgreen"/>
    <Sidebar-Item Title="Home" Icon="home" Color="lightgreen"/>
    <Sidebar-Item Title="Status List" Icon="local_fire_department" Color="gold"/>
    <Sidebar-Menu Title="Dev Tools" Icon="api" Color="aqua">
        <Sidebar-Item Title="Default ˢᶦⁿᵍˡᵉ" Icon="memory" Color="lightgreen" (Action)="SetStorage_Single()"/>
        <Sidebar-Item Title="Default ᴹᵘˡᵗᶦ" Icon="memory" Color="lightgreen" (Action)="SetStorage_Multi()"/>
        <Sidebar-Item Title="Clear" Icon="delete" Color="brown" (Action)="ClearStorage()"/>
    </Sidebar-Menu>
  
</div>