<div class="Sidebar-Box">

    <!-- <Sidebar-Label Title="Page" Icon="layers" Color="lightgreen"/> -->
    <Sidebar-Label Title="Page" Icon="" Color="lightgreen"/>
    <Sidebar-Item Title="Home" Icon="home" Color="lightgreen"(Action)="RedirectToHome()"/>
    <Sidebar-Item Title="Status List" Icon="local_fire_department" Color="gold" (Action)="RedirectStatus()"/>
    <!-- <Sidebar-Label Title="DevTools" Icon="developer_board" Color="lightgreen"/> -->
    <Sidebar-Label Title="DevTools" Icon="" Color="lightgreen"/>
    <Sidebar-Menu Title="Storage" Icon="api" Color="aqua">
        <Sidebar-Item Title="Default ˢᶦⁿᵍˡᵉ" Icon="memory" Color="lightgreen" (Action)="SetStorage_Single()"/>
        <Sidebar-Item Title="Default ᴹᵘˡᵗᶦ" Icon="memory" Color="lightgreen" (Action)="SetStorage_Multi()"/>
        <Sidebar-Item Title="Clear" Icon="delete" Color="brown" (Action)="ClearStorage()"/>
    </Sidebar-Menu>
  
</div>