<div class="HomePage-Box">

  @if (!Menu.NewPayment) {
    <div class="Actions">
      <div class="Add" (click)="Menu.NewPayment=true"><mat-icon fontIcon="add"/></div>
    </div>
    <div class="PaymentBox">
      @for (Payment of PaymentData | slice:0:4; track PaymentData) {
        <div class="PaymentItem">
          <div class="Title"> <mat-icon fontIcon="subdirectory_arrow_right"/> {{PData.Title}}</div>
          <div class="Description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quam illo maxime aliquid.? </div>
          <div class="Status">---</div>
          <div class="Age">3ᵈᵃʸ</div>
          <div class="Price">120,000 ᵀ</div>
        </div>
      }
    </div>
  }

  <!-- =============              ============= -->
               <!-- ============== -->
               <!--   PaymentMenu  -->
               <!-- ============== -->
  <!-- =============              ============= -->

  @if (Menu.NewPayment) {
    <div class="Actions">
      <div class="Close" (click)="Menu.NewPayment=false"><mat-icon fontIcon="close"/></div>
      <div class="Save" (click)="null"><mat-icon fontIcon="done"/></div>
    </div>
  }

</div>